<h4 class='text-info'>
  <%= inline_svg('new_icon_22.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  &nbsp;
  <%= inline_svg('immigrazione_icon_32.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  &nbsp; Modifica la Scheda corrente
  <span class='pull-right'>
    <%= link_to immigrations_path, class: 'btn btn-sm btn-default' do %>
    <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Ritorna alla Lista
  <% end %>
  &nbsp;
  <%= link_to @immigration, class: 'btn btn-sm btn-default' do %>
    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;Visualizza
  <% end %>
</span>
</h4>
<hr class='hr-gray-lite'>
<br>
<%= render 'form', immigration: @immigration %>
