<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <%= stylesheet_link_tag wicked_pdf_asset_base64('pdfprintstyle') %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed&display=swap:300,400,600,700&amp;lang=it" />
  </head>
  <body>
    <div id='page'>
      <div id='header'>
        <div class='logo'>
          <%= inline_svg('pdf_header_icon_22.svg', size: '200px * 36px', preserve_aspect_ratio: 'xMaxYMax meet') %>
        </div>
        <hr>
      </div>
      <div>
        <h3>
          <small>
            Modello: <%= @assistance.name %>
          </small>
          <br>
          <%= @assistance.title %>
        </h3>
        <hr>
        <h3>
          <%= inline_svg('new_icon_22.svg', size: '18px * 18px', preserve_aspect_ratio: 'xMaxYMax meet') %>
          &nbsp;Documenti Richiesti:
          <br><br>
        </h3>
          <%= sanitize @assistance.content %>
      </div>
    </div>
  </body>
</html>
