<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <%= stylesheet_link_tag wicked_pdf_asset_base64('pdfprintstyle') %>
  </head>
  <body>
    <div id='page'>
      <div id='header'>
        <div id='logo'>
          <strong>
            <%= inline_svg('pdf_header_icon_22.svg', size: '200px * 36px', preserve_aspect_ratio: 'xMaxYMax meet') %>
          </strong>
        </div>
        <hr>
      </div>
      <div>
        <h3>
          Modello: <%= @assistance.name %>
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <%= @assistance.title %>
        </h3>
        <br>
        Documenti Richiesti:
        <hr>
        <br>
        <%= sanitize @assistance.content %>
      </div>
    </div>
  </body>
</html>
