<nav class='navbar-lite navbar-side' role='navigation' id='litegray-bg'>
  <div class='container-fluid'>
    <div class='sidebar-collapse'>
      <ul class='nav' id='main-menu'>
        <li>
          <%= link_to inline_svg('main_logo.svg', size: '112px * 112px', preserve_aspect_ratio: 'xMaxYMax meet'), root_path %>
        </li>
        <hr>
        <li>
          <%= inline_svg('inca_icon_64.svg', size: '128px * 64px', preserve_aspect_ratio: 'xMaxYMax meet') %>
        </li>
        <li>
          <%= link_to assistances_path do %>
          <h6>
            <%= inline_svg('assistenza_icon_22.svg', size: '14px * 14px', preserve_aspect_ratio: 'xMaxYMax meet') %>
            ASSISTENZA
          </h6>
          <% end %>
        </li>
        <li>
          <%= link_to immigrations_path do %>
          <h6>
            <%= inline_svg('immigrazione_icon_22.svg', size: '14px * 14px', preserve_aspect_ratio: 'xMaxYMax meet') %>
            IMMIGRAZIONE
          </h6>
          <% end %>
        </li>
        <li>
          <%= link_to pensions_path do %>
          <h6>
            <%= inline_svg('pensioni_icon_22.svg', size: '14px * 14px', preserve_aspect_ratio: 'xMaxYMax meet') %>
            PENSIONI
          </h6>
          <% end %>
        </li>
        <li>
          <%= link_to healths_path do %>
          <h6>
            <%= inline_svg('salute_icon_22.svg', size: '14px * 14px', preserve_aspect_ratio: 'xMaxYMax meet') %>
            SALUTE
          </h6>
          <% end %>
        </li>
      </ul>
      <hr>
    </div>
  </div>
</nav>
