<h4 class='text-info'>
<%= inline_svg('pensioni_icon_32.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
&nbsp;&nbsp;
Pensioni
<span class='pull-right'>
  <h6>
    <% if admin? || publisher? %>
      <%= link_to new_pension_path, class: 'btn btn-default btn-sm' do %>
        <%= inline_svg('new_icon_22.svg', size: '18px * 18px', preserve_aspect_ratio: 'xMaxYMax meet') %>
        &nbsp;
        <%= inline_svg('pensioni_icon_22.svg', size: '18px * 18px', preserve_aspect_ratio: 'xMaxYMax meet') %>
        Nuova Scheda
      <% end %>
    <% end %>
  </h6>
</span>
</h4>
<hr>
<div class='container'>
  <% @pensions.each_slice(3)  do |pensions| %>
    <div class='row'>
    <% pensions.each  do |pension| %>
      <div class='col-lg-4'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <%= inline_svg('assistenza_icon_22.svg', size: '11px * 11px', preserve_aspect_ratio: 'xMaxYMax meet') %>
            &nbsp;
            <%= pension.name %>
            <span class='pull-right'>
              <%= link_to pension_path(pension, format: :pdf), target: 'new' do %>
                <%= inline_svg('pdf_icon_22.svg', size: '11px * 11px', preserve_aspect_ratio: 'xMaxYMax meet') %>
                &nbsp;PDF
              <% end %>
            </span>
          </div>
          <div class='panel-body'>
            <H6>
              <%= link_to pension.title, pension %>
            </H6>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
