<h5 class='text-info'>
  <%= inline_svg('salute_icon_22.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  &nbsp;&nbsp;
  <%= @pension.title %>
  <span class='pull-right'>
    <h5>
      <%= link_to pensions_path, class: 'btn btn-sm btn-default' do %>
      <i class='fas fa-arrow-left'></i>&nbsp;&nbsp;&nbsp;Ritorna alla Lista
    <% end %>
    <% if can? :edit, @pension %>
      <%= link_to edit_pension_path(@pension), class: 'btn btn-sm btn-default' do %>
        <i class='fas fa-pencil-alt'></i>&nbsp;&nbsp;&nbsp;Modifica la Scheda
      <% end %>
    <% end %>
    <% if can? :destroy, @pension %>
      <%= link_to @pension, method: :delete, data: { confirm: 'Sei sicuro/a di voler eliminare la scheda corrente?' }, class: 'btn btn-sm btn-default' do %>
        <i class='fas fa-trash-alt'></i>&nbsp;&nbsp;&nbsp;Elimina la Scheda
      <% end %>
    <% end %>
</h5>
</span>
</h5>
<hr class='hr-grey-lite'>
<div class='container'>
<div class='col col-lg-10 col-lg-offset-1'>
<h6>
  <span class="pull-right">
    <%= link_to pension_path(@pension, format: :pdf), target: 'new' do %>
      <%= inline_svg('pdf_icon_22.svg', size: '15px * 15px', preserve_aspect_ratio: 'xMaxYMax meet') %>
      &nbsp;PDF
    <% end %>
  </span>
<span class='text-info'>Codice:</span>
&nbsp;&nbsp;<span class='text-grey-dark'><%= @pension.name %></span>
&nbsp;&nbsp;
<span class='text-info'>Titolo:</span>
&nbsp;&nbsp;<span class='text-grey-dark'><%= @pension.title %></span>
<br>
<span class='text-info'>Data Creazione:</span>
&nbsp;&nbsp;<span class='text-grey-dark'><%= l(@pension.creation_date, format: '%A %d %B %Y') %></span>
&nbsp;&nbsp;
<span class='text-info'>Data Revisione:</span>
&nbsp;&nbsp;<span class='text-grey-dark'><%= l(@pension.revision_date, format: '%A %d %B %Y') if pensionrevisionisnotnill? %></span>
</h6>
<hr>
<h6 class='text-info'>Documenti Richiesti</h6>
<%= sanitize @pension.content %>
<br>
<hr>
Note:
<br>
<%= @pension.note %>
</div>
</div>
